body {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-align: center;
  background-color: rgb(164, 228, 248);

}

.navbar, .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgb(164, 228, 248);
  
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.profile-pic {
	clip-path: circle();
  width: 225px;
}

.label {
  text-align: left;
}

footer.footer {
  background-color: rgb(164, 228, 248);
}




@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}